
@{
    ViewBag.Title = "ChangePassword";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
    Layout = "~/Views/Shared/_PersonnelLayout.cshtml";         
    }
}

<div class="offset-2 col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Yeni Şifre Oluştur</h1>
        </div>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "form", @class = "user", @enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="Password" id="exampleInputPassword" placeholder="Eski Şifre">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="NewPassword" id="exampleInputNewPassword" placeholder="Yeni Şifre">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="NewPasswordConfirm" id="exampleInputNewPasswordConfirm" placeholder="Yeni Şifre Tekrar">
            </div>
            <div class="offset-4 col-md-4">
                <button type="submit" class="btn btn-success btn-user btn-block">
                    Şifre Değiştir
                </button>
            </div>
            <hr>
        }
    </div>
</div>

